# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Keys folder and class
/lib/main/java/com/aicodinghelper/keys/

# Ignore Out directory
/lib/out/

# Ignore testing keystore
#/chitchatserver.com.jks
#/lib/out/keys/SubscriptionKey_PJ323P8QVH.p8
/lib/keys/